<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognition | MLWD</title>
</head>
<body>
    <h1>Welcome to Image Recognition</h1>
    <form action="#" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_table }}
        <button type="submit">Upload Image</button>
    </form>

    <img src="{% static 'logo.png' %}" alt="">
</body>
</html>